*{
	box-sizing: border-box;
	font-size: 0;
	overflow: hidden;
	margin: 0;
}

#background{
	transition: all 1s linear;
	width: 100%;
	height: 100%;
	padding: 0;
	border:0;
}

#overLay{
	width: 100%;
	height: 100vh;
	padding: 0;
	border:0;
	background: linear-gradient(rgba(255,255,255,0.7),rgba(0,0,0,-0.5));
	display: flex;
	flex:column;
	justify-content: center;
	align-items: center
}

#textContainer{
	padding: 0;
	border: 10%;
	top: 50%;
	left: 50%;
	transition: transform 1s linear;
}

p{
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 25vh;
	font-weight: bold;
	background: -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4));
 		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	transition: transform 1s linear;
}

#textContainer:hover{
	transform: rotateX(180deg);
}

#textContainer:hover #hex{
	transform: rotateX(-180deg);
}
/*#textContainer:hover #hex{
	animation-delay: 1s;
	transform: rotateX(-90deg);
}
*/

